
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(150vh - 100px); /* Adjust height to account for navbar and footer */
  background-color: #F0F0F0;
  padding: 50px 0; /* Add padding to top and bottom to create space */
}

.login-form {
  background: white;
  padding: 3rem; /* Increased padding */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px; /* Adjust width if necessary */
}

.login-form h2 {
  margin-bottom: 2rem; /* Increased margin-bottom */
}

.form-group {
  margin-bottom: 1.5rem; /* Increased margin-bottom */
}

.form-group label {
  display: block;
  margin-bottom: 0.75rem; /* Increased margin-bottom */
}

.form-group input, .form-group select {
  width: 100%;
  padding: 0.75rem; /* Increased padding */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button, .signup-button {
  width: 100%;
  padding: 1rem; /* Increased padding */
  margin-top: 1.5rem; /* Increased margin-top */
  border: none;
  border-radius: 4px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}

.signup-button {
  background-color: #28a745;
}

.separator {
  text-align: center;
  margin: 1.5rem 0; /* Increased margin */
}
